@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main {
  background-color: #282828;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}
main header {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
}
main header form {
  display: flex;
  width: 100%;
  box-shadow: 0 0 8px;
  max-width: 350px;
  border-radius: 5px;
}
@media (max-width: 650px) {
  main header form {
    max-width: unset;
  }
}
main header form input {
  background-color: transparent;
  padding: 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.78);
}
main header form button {
  background: none;
  color: rgba(255, 255, 255, 0.78);
  cursor: pointer;
  margin-right: 10px;
}
main header nav {
  display: flex;
  gap: 15px;
}
@media (max-width: 650px) {
  main header nav {
    display: none;
  }
}
main header nav span {
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}
main header nav span:hover {
  color: white;
}
main section {
  margin-top: 20px;
  flex: 1;
}
main section #list {
  margin-top: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
main section #list .card {
  background-color: #121212;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
main section #list .card:hover .play {
  opacity: 1;
  bottom: 20px;
}
main section #list .card figure {
  position: relative;
}
main section #list .card figure img {
  width: 100%;
  border-radius: 10px;
}
main section #list .card figure .play {
  position: absolute;
  background-color: #1db954;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 23px;
  right: 10px;
  bottom: -20px;
  transition: all 0.3s;
  opacity: 0;
}
main section #list .card figure .play:hover {
  scale: 1.1;
  rotate: 360deg;
  background-color: #0f6d32;
}
main section #list .card figure .play i {
  pointer-events: none;
}
main section #list .card .card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside {
  background-color: #282828;
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  aside {
    padding: 20px 10px;
  }
}
aside figure {
  display: flex;
  align-items: center;
  gap: 10px;
}
aside figure img {
  width: 40px;
}
aside figure span {
  font-size: 25px;
  font-weight: bold;
  color: #1db954;
}
@media (max-width: 992px) {
  aside figure span {
    display: none;
  }
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
aside nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
aside nav a:hover {
  background-color: #1db954;
  color: #121212;
}
@media (max-width: 992px) {
  aside nav a i {
    font-size: 19px;
  }
}
@media (max-width: 992px) {
  aside nav a span {
    display: none;
  }
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.player .info {
  display: flex;
  gap: 10px;
}
.player .info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.player .info div h5 {
  font-size: 18px;
  font-weight: 500;
}
.player .info div p {
  color: rgb(150, 150, 150);
}
.player audio {
  width: 40%;
}
@media (max-width: 992px) {
  .player audio {
    width: 60%;
  }
}
.player .icons {
  display: flex;
  gap: 20px;
  font-size: 20px;
  margin-right: 20px;
}
@media (max-width: 992px) {
  .player .icons {
    display: none;
  }
}

@keyframes turn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate {
  animation: turn 4s infinite linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

a {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.78);
  border-radius: 10px;
  transition: all 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: rgba(255, 255, 255, 0.78);
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.layout {
  display: flex;
  gap: 20px;
  height: calc(100vh - 120px);
}

/* From Uiverse.io by alexruix */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  --cell-size: 52px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #00FF87;
}

.cell:nth-child(2) {
  --cell-color: #0CFD95;
}

.cell:nth-child(3) {
  --cell-color: #17FBA2;
}

.cell:nth-child(4) {
  --cell-color: #23F9B2;
}

.cell:nth-child(5) {
  --cell-color: #30F7C3;
}

.cell:nth-child(6) {
  --cell-color: #3DF5D4;
}

.cell:nth-child(7) {
  --cell-color: #45F4DE;
}

.cell:nth-child(8) {
  --cell-color: #53F1F0;
}

.cell:nth-child(9) {
  --cell-color: #60EFFF;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}/*# sourceMappingURL=style.css.map */